.register {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.r-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.r-input {
    height: 30px;
    padding: 10px;
}

.r-button {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 2px;
}

.r-button:disabled {
    background-color: #0071c28c;;
    cursor: not-allowed;
}